.idea/
./mhc1/
./mhc1_copied/
./out/
./out_all/
./output/
./root/
./venv/
./data/
./1A1M.pdb
./mhc1.zip
./.pylintrc


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg